/*  your css code here. If applicable */
body{
	background-color:gray;
	padding:10px;
	margin:10px;
}
.animal-photos{
	justify-content:center;
}
h1{
	text-align:center;
	color:white;
}
.animal1{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
}
.animal{
	width:200px;
	height:200PX;
	border-radius:5px;
	gap:10px;
}